body {
    text-align: center;
    font-family: Arial, sans-serif;
    background:linear-gradient(90deg,black,rgb(152, 147, 147),black);
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.bulb-image {
    width: 100px; 
}

.cat-image {
    width: 150px; 
    margin-top: 20px;
}

.switch-board {
    margin-top: 20px;
}

button {
    padding: 12px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 90%;
}

.off-switch {
    background-color: red;
    color: white;
}

.on-switch {
    background-color: green;
    color: white;
}
@keyframes move-cat {
    0% { transform: translateX(0); }
    50% { transform: translateX(50px); }
    100% { transform: translateX(0); }
}


.cat.on {
    animation: move-cat 2s infinite ease-in-out;
    filter: brightness(100%);
}

 
.cat.off {
    filter: brightness(0%);
    animation: none; 
}


